# macOS
.DS_Store

# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
DerivedData/
Build/
PublicSpeakingAPP/PublicSpeakingAPP.xcodeproj/project.xcworkspace/xcuserdata/jordan.xcuserdatad/UserInterfaceState.xcuserstate
