# macOS
.DS_Store

# Xcode
DerivedData/
build/

# Swift Package Manager
/.build/

# User-specific Xcode files
xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# API Keys / Env files
*.env
GoogleService-Info.plist

